<html>

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="/css/cert.css">
</head>

<body>
  <div class="container">
    <div class="head">
      <p>Certificate of Completion</p>
    </div>
    <div class="body">
      <p>This certifies that</p>
      <p class="name"><%= name %></p>
      <p>has completed a certification in</p> 
      <p class="certificate"><%= certificate %></p>
      <p>Awarded on <%= date %></p>
    </div>
    <div class="foot"><p>Verification code <%= userId %>/<%= certId %></p></div>
  </div>


  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

</body>

</html>